@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://media.istockphoto.com/id/1053468764/photo/fireworks-on-black-background.jpg?b=1&s=612x612&w=0&k=20&c=s-btWqULnik6_vQ2sAT7FpX8gGlJDpZ0FNuLPibRTSk=");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: white;
  text-shadow: 1px 2px black;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
  text-align: center;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.3rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
}

@media (max-width: 425px) {
  .countdown-container {
    flex-direction: column;
  }
  footer {
    margin-top: 1rem;
    position: inherit;
  }
}
